In [ ]:
# Variables
# Strings
# Lists & Tuples

# Sets
# Dictionaries


# Conditionals - If Else
# Loops - For Loops, lists, sets, dictionaries


# Functions

# Lambda functions
# Map/Reduce/Filter
# Comprehensions

# Classes

In [ ]:
# Sets



s = set([1,2,3,4,1,2,3])
t = {1,2,3,3,4,1}

print(s,t)
print(type(t),type(s))


# No Indexing in sets

#Membership Operator
5 not in s 

s = {1,2,3}
t = {3,4,5}

# Set Operations

# Union 
s | t


s.union(t)

# Intersection

s & t

s.intersection(t)

# Difference
s-t

s.difference(t)

# Mutability

s.add(4)
print(s)

s.remove(3)
print(s)

del s

print(s)

s = {1,2,3}
s.add(3)
print(s)

# Concatenation

s = {1,2,3}

t = {4,5,6}


help(set)

s = {1,2,3}
t = {3,4,5}

s== t

s = {1,2,3}
u = {1,2,3}

s== u

len(s)

s.__sizeof__()

s ^ t

print(s,t)

{1, 2, 3, 4} {1, 2, 3, 4}
<class 'set'> <class 'set'>

In [ ]:
# Group Anagrams

# 1. Given a list of strings, we want to find how many groups of anagrams are there ? 

Input: ["hat","tah","aht","nab","ban","anb", "can", "nac"]
Output: 3
Exp: [["hat","tah","aht"],["nab","ban","anb"],["can", "nac"]]
    

# Group Anagrams

["hat","tah","aht","run"]

s1 = "hat"
s2 ="tah"

sorted(s1)==sorted(s2) 

print(sorted(s1))
print(sorted(s2))

l = ["hat","tah","aht","nab","ban","anb", "can", "nac"]
s = set({})
for w in l:
    s.add(tuple(sorted(w)))

print(s)

s = set()
s.add((1,2,3,4))
print(s)

d = {}
d[(1,2)] = 1
print(d)

s.add("abc")
s.add(1)

print(s)

In [ ]:
# Dictionaries

# dictionary = {key1:value1, key2:value2}

#l = [1,2,3,4,5]
#l = [[1,2,3], (1,2,3), "abcn", ]

user = {'name': 'John', 
        'address' : ["Mumbai", "Maharashtara", "India", 560103], 
        'is_online' : True,
        'name' : 'Paul'}

print(user)

# Indexing

user["name"]

user["address"]

user["is_online"]

"name" in user

user["phone_num"]

if "phone_num" in user:
    print(user["phone_num"])
else:
    print("phone number not found")

if "name" in user:
    print(user["name"])
else:
    print("phone number not found")

# Mutability
user["phone_num"] = '555-5555-555'
print(user)


user["name"] = "Harry"
print(user)

user["address"][3]

user["address"][3] = 123141
print(user)

help(dict)

d = {}
s = set()
t = set({})
print(type(s),type(d),type(t))

p = {'name': 'Paul', 'address': ['Mumbai', 'Maharashtara', 'India', 560103], 'is_online': True, 'phone_num': '555-5555-555'}

print(p,type(p))

p.keys()

p.values()

type(p.items())

del p["name"]

print(p)

del p
print(p)

# Find the number of occurences of each city in a given list

inp = ["Bangalore", "Chennai", "Delhi", "Mumbai","Bangalore", "Chennai", "Guwahati"]

output = {"Bangalore" : 2, "Chennai" : 2, "Mumbai" :1 , "Delhi": 1, "Guwahati" : 1}


def find_occurences(inp):
    output = {}
    # Your Code here
    for s in inp: 
        occurance = inp.count(s)
        output[s] = occurance 
    return output


find_occurences(inp)

def find_occurences(inp):
    output = {}
    for s in inp: 
        if s not in output:
            output[s] = 1  # Adding a new key value pair
        else:
            output[s] += 1 # Updating the value for that key
    return output

find_occurences(inp)

def CountFrequency(my_list):   
    count = {} 
    for i in my_list: 
        count[i] = count.get(i, 0) + 1
    return count 
  
if __name__ == "__main__":  
    my_list = ["Bangalore", "Chennai", "Delhi", "Mumbai","Bangalore", "Chennai", "Guwahati"]
    print(CountFrequency(my_list))

{'name': 'Paul', 'address': ['Mumbai', 'Maharashtara', 'India', 560103], 'is_online': True}

In [ ]:
# If/ Else conditions are used to decide to do something based on something being true or false		

# Comparison Operators (==, !=, >, <, >=, <=) - Used to compare values		

# Simple If statement

x = 3
y = 4 

if x > y :
    print(f'{x} is greater than {y}')

In [ ]:
# If else

if x > y :
    print(f'{x} is greater than {y}')
else:
    print(f'{x} is less  than {y}')

3 is less  than 4

In [ ]:
x = 3
y = 4

if x > y :
    print(f'{x} is greater than {y}')
elif x == y :
    print(f'{x} is equal than {y}')
else:  
    print(f'{x} is less  than {y}')

3 is less  than 4

In [ ]:
# Nested if 
x = 2
y = 5
z = 10
if z > x :
    if x == y:
        print(f'{x} is euqal to than {y}')

3 is euqal to than 3

In [ ]:
x = 2
y = 5
z = 10
l = [1,2,3,4,5,6]
if x not in l:
     print(f'{x} is not present in {l} ')
else:
     print(f'{x} is  present in {l} ')

2 is not present in [1, 2, 3, 4, 5, 6]

In [ ]:
x = [1,2,3]
y = [2,3,4]


if x is not y:
    print(f'{x} not equals {y} ')

[1, 2, 3] not equals [2, 3, 4]

In [ ]:


# Logical operators (and/ &, or /|, not/!) - Used to combine conditional statements		




# Membership Operators (in, not in) - Membership operators are used to test if a sequence is presented in an object		




# Identity Operators (is, is not) - Compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
# loops

#Iterate over sequences like lists, tuples, dictionaries, strings and each item of them 

# Counter based loops

# Simple for loop
lis = [1,2,4,45,6]
for s in lis:
    print(s)

1
2
4
45
6

In [ ]:

tup = (1,2,4,45,6)
for s in tup:
    print(s)

1
2
4
45
6

In [ ]:
string = "Introduction to Python"
for s in string:
    print(s)

I
n
t
r
o
d
u
c
t
i
o
n

t
o

P
y
t
h
o
n

In [ ]:
l = [1,2,3,4,5]

for i in l:
    print(i)
    l.remove(4)

1
2

ValueError: list.remove(x): x not in list

In [ ]:

# Event based loops

#while

In [ ]:
d = {1:"apple", 2:"pine apple", 3: "orange"}

for k in sorted(d.keys()):
    print(k, d[k])

1 apple
2 pine apple
3 orange

In [ ]:
d = {1:"apple", 2:"pine apple", 3: "orange"}

for v in sorted(d.values()):
    print(v)

apple
orange
pine apple

In [ ]:
d = {1:"apple", 2:"pine apple", 3: "orange"}

for v in d.items():
    print(v)

(1, 'apple')
(2, 'pine apple')
(3, 'orange')

In [ ]:
d = {1:"apple", 2:"pine apple", 3: "orange"}

for k,v in d.items():
    print(k,v)

1 apple
2 pine apple
3 orange

In [ ]:

l = ["Sara", "Jane", "Kali"]
for n in l:
    print(n)
    if n == "Jane":
        break

Sara
Jane

In [ ]:
for n in l:
    if n == "Jane":
        continue
    print(n)

Sara
Kali

In [ ]:
#range(n) 
#range(m,n) 
#range(m,n,t) 
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
#Python 2.7
# range()
# xrange() 

#Python 3.6
# range()

<class 'range'>

TypeError: 'type' object is not an iterator

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5):
    for k in range(3):
        if k == 1:
            break
        print(i,k)

0 0
1 0
2 0
3 0
4 0

In [ ]:
k = 0

while k < 5:
    print(k)
    k +=1

0
1
2
3
4

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
def func(a):
    return 2*a


l = [3,4,5,6,7,8,9]

res = []
for i in l:
    res.append(func(i))

print(res)

[6, 8, 10, 12, 14, 16, 18]

In [ ]:
# lambda functions
lmbd = lambda a: 2*a

# first-class functions:
# assigned to variables
# can be passed as arguments to functions
# returned from function as the output

res = []
for i in l:
    res.append(lmbd(i))

print(res)

[6, 8, 10, 12, 14, 16, 18]

In [ ]:
add = lambda x,y: x+y

print(add(2,3))

5

In [ ]:
# lambda functinon for getting square of a number

sqrl = lambda x: x**2

powl= lambda x,y: pow(x,y)

print(sqrl(2))
print(powl(3,4))

4
81

In [ ]:
def func(a):
    return 2*a


l = [3,4,5,6,7,8,9]

res = []
for i in l:
    res.append(func(i))

print(res)

[6, 8, 10, 12, 14, 16, 18]

In [ ]:

# Comprehenions

# List Comprehensions

res = [2*i for i in l]
print(res)

[6, 8, 10, 12, 14, 16, 18]

In [ ]:
l = [3,4,5,6,7,8,9]
res = [sqrl(i) for i in l]
print(res)

[9, 16, 25, 36, 49, 64, 81]

In [ ]:
res = [sqrl(i) for i in l]
print(res)

[<function <listcomp>.<lambda> at 0x10e386440>, <function <listcomp>.<lambda> at 0x10e3864d0>, <function <listcomp>.<lambda> at 0x10e386560>, <function <listcomp>.<lambda> at 0x10e3865f0>, <function <listcomp>.<lambda> at 0x10e386680>, <function <listcomp>.<lambda> at 0x10e386710>, <function <listcomp>.<lambda> at 0x10e3867a0>]

In [ ]:
l = [3,4,5,6,7,8,9]
v = [1,2,3,4,5,6,5]

res = [i+k for i,k in zip(l,v)]
print(list(zip(l,v))
print(res)

[(3, 1), (4, 2), (5, 3), (6, 4), (7, 5), (8, 6), (9, 5)]
[4, 6, 8, 10, 12, 14, 14]

In [ ]:
l = [3,4,5,6,7,8,9]
v = [1,2,3,4,5,6,5]

list(zip(l,v))

[(3, 1), (4, 2), (5, 3), (6, 4), (7, 5), (8, 6), (9, 5)]

In [ ]:
res = [sqrl(i) for i in l if i%2 == 0 if i%4 ==0]
print(res)

[16, 64]

In [ ]:
# Dict Comprehension


res = {i:2*i for i in l}

print(res)

{3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [ ]:
res = {i:2*i for i in l  if i%2 == 0 if i%4 ==0}

In [ ]:
print(res)

{4: 8, 8: 16}

In [ ]:
# Map, Reduce, Filter

	map		The map() function calls the specified function for each item of an iterable (such as string, list, tuple or dictionary) and returns a list of results		
	map with next		The map() function is a built-in function.		
	map with lambda exp		map(function, iterable [, iterable2, iterable3,...iterableN]) --> map object		
	map with built-in function				
					
	reduce		The reduce() function is defined in the functools module. Like the map and filter functions, the reduce() function receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns a single value		
					
					
					
					
					
	filter		The filter() function calls the specified function which returns boolen for each item of the specified iterable (list).		
	Filter with custom method		filter(function, iterable) --> filter object		
	Filter with Lambda expression

IndentationError: unexpected indent (<ipython-input-58-b244b085f850>, line 4)

In [ ]:
#map(function, iterable [, iterable2, iterable3,...iterableN]) --> map object

l = [3,4,5,6,7,8,9]
test_map = map(sqrl,l)
print(list(test_map))

[9, 16, 25, 36, 49, 64, 81]

In [ ]:
test_map = map(lambda x: x**2,l)
print(list(test_map))

[9, 16, 25, 36, 49, 64, 81]

In [ ]:
def mult(a):
    return a*4

test_map = map(mult,l)
print(list(test_map))

[12, 16, 20, 24, 28, 32, 36]

In [ ]:
def mult(a,b):
    return a*b

l = [3,4,5,6,7,8,9]
v = [1,2,3,4,5,6,5]

mult_results = map(mult,l,v)
print(list(mult_results))

[3, 8, 15, 24, 35, 48, 45]

In [ ]:
def mult(a,b,c):
    return a*b*c

l = [3,4,5,6,7,8,9]
v = [1,2,3,4,5,6,5]
z = [2,3,4,5,6,5,8]

mult_results = map(mult,l,v,z)
print(list(mult_results))

[6, 24, 60, 120, 210, 240, 360]

In [ ]:

l = [3,4,5,6,7,8,9]
v = [1,2,3,4,5,6,5]

mult_results = map(pow,l,v)
print(list(mult_results))

[3, 16, 125, 1296, 16807, 262144, 59049]

In [ ]:
#The filter() function calls the specified function which returns boolen for each item of the specified iterable (list)

#filter(function, iterable) --> filter object	
def isPrime(n):
    for i in range(2,n):
        if n%i == 0:
            return False
    return True

l = [3,4,5,6,7,8,9]

primes = list(filter(isPrime,l))
print(primes)

[3, 5, 7]

In [ ]:
# Reduce 
# functools 

#reduce		The reduce() function is defined in the functools module. Like the map and filter functions, the reduce() function receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns a single value		#
	
    
import functools
import operator

def mult(a,b):
    return a*b
    
l = [3,4,5,6,7,8,9]

#print(sum(l))
res = functools.reduce(operator.mod,l)
print(res)

3

In [ ]:
list([1])

[1]